p,.font{
    font-family: 'poppins';
}

.poppins{
    font-family: 'poppins';
}

.btn-utama{
    font-family: 'poppins';
    color: white;
    background-color: #162E80;
    padding: 10px 10px;
    border-radius: 2px;
    border: none;

}
.btn-second{
    font-family: 'poppins';
    color: #162E80;
    background-color: white;
    padding: 8px 8px;
    border-radius: 1px;
    border: solid;

}
.btn-third{
    font-family: 'poppins';
    color: black;
    background-color: white;
    padding: 5px 5px;
    border-radius: 2px;
    border: none;
    box-shadow: 3px 2px 1px grey;

}
.bg-color-primary {
    background-color: #162E80 !important;
    color: white;
  }
.active-sub-side{
    color: #162E80 !important;
  }
.active-side{
    background-color: #162E80 !important;
    color: white !important;
  }
