/* CSS bagian Body */
body {
    font-family: 'Poppins', sans-serif;
  }

.navbar {
  background-color: #162E80;
}

.navbar-nav .nav-link {
  color: #fff;
}

.card {
  width: 124px;
  height: 124px;
  border-radius: 5px; /* Mengatur sudut bulat sebesar 5px */
  margin-top: 40px; 
  margin-left: 28px;
}

/* CSS Anda (misalnya, styles.css) */
.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ubah nilai sesuai kebutuhan Anda */
}

.price-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.price-description {
  width: 70%;
}

.price-value {
  width: 30%;
  text-align: right;
}

.btn-custom {
  background-color: #162E80;
  color: #fff; /* Warna teks diubah menjadi putih agar kontras */
}

/* Ini modal halaman awal */
.product-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.detail-item {
  margin-right: 20px;
  text-align: center;
}

.detail-item label {
  display: block;
  font-weight: bold;
}

.detail-item span {
  display: block;
}

#quantityProduct1 {
  width: 70px;
}

/* Toggle switch */
.discount-section {
  margin-top: 10px;
}

.discount-details {
  display: flex;
  align-items: center;
}

.discount-icon {
  margin-right: 10px;
}

.discount-description {
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 10;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #162E80;
}

input:focus + .slider {
  box-shadow: 0 0 1px #162E80;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
  
/* Akhir dari modal */

/* Button makanan dan minuman  */
.tombol-makanan-minuman {
    display: flex;
    text-align: center;
    margin-top: 400px;
    
}
.besar{
  width: 62%;
  border-radius: 0;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 20px; 
}

.btn-custom1 {
  background-color: #ffffff;
  color: #162E80;

  border: none;
}

.btn-custom2 {
  background-color: #162E80;
  color: #ffffff;
  width: 62%;
  border-radius: 0;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 20px; 
  border: none;
}

.btn-custom3 {
  background-color: #ffffff;
  color: #000000;
  width: 50%;
  border-radius: 0;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 20px; 
  border: none;
  margin-top: 40px;
}

.btn-custom4 {
  background-color: #ffffff;
  color: #162E80;
  width: 50%;
  border-radius: 0;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 20px; 
  border: none; 
}

.btn-custom-bayar {
  background-color: #162E80;
  color: #ffffff;
  width: 50%;
  border-radius: 0;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 20px; 
  border: none;
  margin-top: 40px;
}

.btn-custom1:hover {
  background-color: #162E80;
  color: #ffffff;
}
/* Akhir button makan minum */

/* Pengubah */

.col-md-3 {
  position: relative;
}

.col-md-3 img {
  width: 100%;
  height: auto;
}

/* CSS bagian awal, penentuan teks di gambar */

.col-md-3 .product-name {
  position: absolute;
  bottom: 0;
  left: 9;
  width: 92%;
  background-color: rgba(59, 59, 59, 0.7); /* Optional: menambahkan latar belakang semi-transparan */
  color: #fff; /* Optional: mengatur warna teks */
  padding: 8px; /* Optional: menambahkan padding */
  box-sizing: border-box; /* Optional: menyesuaikan box-sizing */
  text-align: center;
  font-size: 14;
}

.col-md-3 .product-price {
  position: absolute;
  bottom: 25;
  left: 7;
  width: 92%;
  background-color: transparent; /* Optional: menambahkan latar belakang semi-transparan */
  color: #fff; /* Optional: mengatur warna teks */
  padding: 8px; /* Optional: menambahkan padding */
  box-sizing: border-box; /* Optional: menyesuaikan box-sizing */
  text-align: center;
  font-size: 14;
}

/* Gambar di tiket */
.cart-item img{
  /* height: 10 rem; */
  border-radius: 50%;
  width: 80px;
  height: 75px;
}

.cart-item h3{
  font-size: 20px;
}

.cart-item .item-price {
  font-size: 1.2rem;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove{
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 8px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;

}

/* Shopping Cart */
 #shopping-cart-button {
  position: relative;
 }

 #shopping-cart-button .quantity-badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: red;
  border-radius: 6px;
  font-size: 0.8rem;
  position: absolute;
  top: 18;
  right: -25;
  color: #fff;
 }




